
<div class="register-container">
    <h1>Register</h1>    
    <div class="label-container">
        <label for="email">Email:</label>
        <input [(ngModel)]="user.email" type="text" name="email" id="email"
        placeholder="name@example.com"
        #email="ngModel" required>
    </div> 
    <div class="label-container">
        <label for="password">Password:</label>
        <input [(ngModel)]="user.password" type="password" name="password" id="password"
        placeholder="*****"
        #password="ngModel" required>
    </div> 
    
    <button class="register-btn" type="button" (click)="handleRegister()">Register</button>


</div>