<section *ngIf="pokemon" class="pokemon">
	<h2>{{ pokemon.name }}</h2>
	<img [src]="pokemon.sprites.front_default" alt="pokemon.name" />
	<div class="pokemon__info">
		<p>Weight: {{ pokemon.weight }} kg</p>
		<p>Height: {{ pokemon.height }} m</p>
	</div>
	<div class="back-btn">
		<button routerLink="/">Back</button>
		<div *ngIf="!isFavorite">
			<button (click)="addToFavorites(pokemon)">Add to favorites</button>
		</div>
		<div *ngIf="isFavorite">
			<button (click)="removeFromFavorites(pokemon)">Remove from favorites</button>
		</div>
	</div>
</section>

<section *ngIf="loading" class="loading">
	<p>Loading...</p>
</section>
