.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  gap: 10px;
}

.card {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
